*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: #ffffff50;
  --surface-color: #ffffff10;
  --surface-color-hover: #ffffff05;
  --highlight-color: #ffffff20;
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: #00000050;
  --surface-color: #00000010;
  --surface-color-hover: #00000005;
  --highlight-color: #00000020;
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body *{
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container{
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 112px;
}

#profile p{
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  animation: slide-back .3s;
}

.light #switch button{
  animation: slide-in .3s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Links */
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a{
  display: flex;
  justify-content: center;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background-color: var(--surface-color);
  padding: 16px 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.4s;
}

ul li a:hover{
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  
}

#social-links{
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

ion-icon{
  padding: 16px;
  border-radius: 50%;
  transition: background 0.4s;
}

ion-icon:hover{
  background-color: var(--highlight-color);
}

footer{
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}

@media screen and (width > 700px) {
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}